ADMIN_INGEST_URL=https://<region>-<project>.cloudfunctions.net/ingestLeadFromProject
ADMIN_SHARED_SECRET=<same-secret-as-admin>
PROJECT_KEY=quanturion-calculator
DEFAULT_COUNTRY=IL
DEFAULT_CURRENCY=ILS
TAX_REFUND_CAP=35000
MORTGAGE_FALLBACK_RATE=4.8
ELECTRICITY_BENCHMARK_ILS_PER_KWH=0.52
INSURANCE_BASE_MONTHLY_ILS=420
